PlantGaurdIoT_Flow.json
[
    {
        "id": "plantguard_flow",
        "type": "tab",
        "label": "PlantGuard Integration",
        "disabled": false,
        "info": "Complete integration flow for PlantGuard sensor system"
    },
    {
        "id": "esp32_sensors_in",
        "type": "mqtt in",
        "z": "plantguard_flow",
        "name": "ESP32 Sensor Data",
        "topic": "esp32/+/sensors",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 100,
        "wires": [
            [
                "parse_sensor_data",
                "debug_raw",
                "078fc926b3151cd7",
                "154bd51d1fd67c83",
                "988157d704b03c27",
                "93edfbc206e02877",
                "a19f8e19d15a6e5f",
                "31cd0984b2cb3383",
                "4c5c10e5f7ca1884",
                "48a1357cbc6b44cb"
            ]
        ]
    },
    {
        "id": "debug_raw",
        "type": "debug",
        "z": "plantguard_flow",
        "name": "Raw Sensor Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 60,
        "wires": []
    },
    {
        "id": "parse_sensor_data",
        "type": "function",
        "z": "plantguard_flow",
        "name": "Extract Node ID",
        "func": "// Extract node ID from MQTT topic\nconst topicParts = msg.topic.split('/');\nmsg.nodeId = topicParts[1]; // esp32/SLAVE_001/sensors -> SLAVE_001\n\n// Add timestamp if not present\nif (!msg.payload.timestamp) {\n    msg.payload.timestamp = new Date().toISOString();\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 100,
        "wires": [
            [
                "check_thresholds",
                "send_processed_data"
            ]
        ]
    },
    {
        "id": "check_thresholds",
        "type": "function",
        "z": "plantguard_flow",
        "name": "Check Sensor Thresholds",
        "func": "const payload = msg.payload;\nconst nodeId = msg.nodeId;\nconst alerts = [];\n\n// pH threshold check (6.0 - 7.5)\nif (payload.ph !== null && payload.ph !== undefined) {\n    if (payload.ph < 6.0) {\n        alerts.push({\n            nodeId: nodeId,\n            type: 'warning',\n            title: 'Low pH Alert',\n            message: `pH is ${payload.ph.toFixed(2)} - Below safe range (6.0-7.5)`\n        });\n    } else if (payload.ph > 7.5) {\n        alerts.push({\n            nodeId: nodeId,\n            type: 'warning',\n            title: 'High pH Alert',\n            message: `pH is ${payload.ph.toFixed(2)} - Above safe range (6.0-7.5)`\n        });\n    }\n}\n\n// Soil moisture threshold check (40-80%)\nif (payload.soilMoisture !== null && payload.soilMoisture !== undefined) {\n    if (payload.soilMoisture < 40) {\n        alerts.push({\n            nodeId: nodeId,\n            type: 'critical',\n            title: 'Low Soil Moisture',\n            message: `Soil moisture is ${payload.soilMoisture}% - Plant needs watering!`\n        });\n    } else if (payload.soilMoisture > 80) {\n        alerts.push({\n            nodeId: nodeId,\n            type: 'warning',\n            title: 'High Soil Moisture',\n            message: `Soil moisture is ${payload.soilMoisture}% - Risk of overwatering`\n        });\n    }\n}\n\n// Temperature threshold check (18-30°C)\nif (payload.temperature !== null && payload.temperature !== undefined) {\n    if (payload.temperature < 18) {\n        alerts.push({\n            nodeId: nodeId,\n            type: 'warning',\n            title: 'Low Temperature',\n            message: `Temperature is ${payload.temperature}°C - Too cold for optimal growth`\n        });\n    } else if (payload.temperature > 30) {\n        alerts.push({\n            nodeId: nodeId,\n            type: 'warning',\n            title: 'High Temperature',\n            message: `Temperature is ${payload.temperature}°C - Too hot for optimal growth`\n        });\n    }\n}\n\n// Battery threshold check\nif (payload.batteryLevel !== null && payload.batteryLevel !== undefined) {\n    if (payload.batteryLevel < 20) {\n        alerts.push({\n            nodeId: nodeId,\n            type: 'info',\n            title: 'Low Battery',\n            message: `Battery level is ${payload.batteryLevel}% - Consider charging soon`\n        });\n    }\n}\n\n// If alerts exist, send them\nif (alerts.length > 0) {\n    msg.alerts = alerts;\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 160,
        "wires": [
            [
                "send_alerts"
            ]
        ]
    },
    {
        "id": "send_alerts",
        "type": "function",
        "z": "plantguard_flow",
        "name": "Format Alert Requests",
        "func": "const alerts = msg.alerts;\nconst messages = [];\n\n// Create a separate message for each alert\nfor (const alert of alerts) {\n    messages.push({\n        payload: alert,\n        url: msg.apiUrl || 'YOUR_REPLIT_APP_URL/api/node-red/alert'\n    });\n}\n\nreturn [messages];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 160,
        "wires": [
            [
                "http_send_alert"
            ]
        ]
    },
    {
        "id": "http_send_alert",
        "type": "http request",
        "z": "plantguard_flow",
        "name": "POST Alert to API",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://aa88b8af-eb15-4714-91b2-c422b3a13faa-00-9yk0qiggapwh.spock.replit.dev/api/node-red/sensor-data",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 1110,
        "y": 160,
        "wires": [
            [
                "debug_alert_response"
            ]
        ]
    },
    {
        "id": "debug_alert_response",
        "type": "debug",
        "z": "plantguard_flow",
        "name": "Alert Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 160,
        "wires": []
    },
    {
        "id": "send_processed_data",
        "type": "function",
        "z": "plantguard_flow",
        "name": "Format Sensor Data",
        "func": "// Extract all sensor fields from payload\nconst p = msg.payload;\n\n// Build complete payload with case-insensitive field mapping\nmsg.payload = {\n    nodeId: msg.nodeId || p.nodeId,\n    source: 'node-red',\n    // Core sensor readings (handle both uppercase and lowercase)\n    temperature: p.temperature || p.Temperature,\n    soilMoisture: p.soilMoisture || p.SoilMoisture,\n    ph: p.ph || p.pH,  // Handle both \"ph\" and \"pH\"\n    humidity: p.humidity || p.Humidity,\n    lightIntensity: p.lightIntensity || p.LightIntensity,\n    // NPK sensors\n    nitrogen: p.nitrogen || p.Nitrogen,\n    phosphorus: p.phosphorus || p.Phosphorus,\n    potassium: p.potassium || p.Potassium,\n    // Other measurements\n    electricalConductivity: p.electricalConductivity || p.ElectricalConductivity,\n    // Power metrics\n    batteryLevel: p.batteryLevel || p.BatteryLevel\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 100,
        "wires": [
            [
                "http_send_data"
            ]
        ]
    },
    {
        "id": "http_send_data",
        "type": "http request",
        "z": "plantguard_flow",
        "name": "POST to PlantGuard API",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://aa88b8af-eb15-4714-91b2-c422b3a13faa-00-9yk0qiggapwh.spock.replit.dev/api/node-red/sensor-data",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 1190,
        "y": 100,
        "wires": [
            [
                "debug_data_response"
            ]
        ]
    },
    {
        "id": "debug_data_response",
        "type": "debug",
        "z": "plantguard_flow",
        "name": "API Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1420,
        "y": 100,
        "wires": []
    },
    {
        "id": "inject_test",
        "type": "inject",
        "z": "plantguard_flow",
        "name": "Test: Get Config",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 600,
        "y": 360,
        "wires": [
            [
                "get_config"
            ]
        ]
    },
    {
        "id": "get_config",
        "type": "http request",
        "z": "plantguard_flow",
        "name": "GET PlantGuard Config",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://farm-sensor-moralesmarlon50.replit.app/api/node-red/sensor-data",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 840,
        "y": 360,
        "wires": [
            [
                "debug_config"
            ]
        ]
    },
    {
        "id": "debug_config",
        "type": "debug",
        "z": "plantguard_flow",
        "name": "PlantGuard Config",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 360,
        "wires": []
    },
    {
        "id": "comment_1",
        "type": "comment",
        "z": "plantguard_flow",
        "name": "MQTT Sensor Input → Process → Send to PlantGuard",
        "info": "This flow subscribes to ESP32 sensor data via MQTT, processes it, and sends enriched data to PlantGuard API.",
        "x": 220,
        "y": 20,
        "wires": []
    },
    {
        "id": "comment_2",
        "type": "comment",
        "z": "plantguard_flow",
        "name": "Alert Generation based on Thresholds",
        "info": "Automatically creates alerts when sensor values exceed safe thresholds.",
        "x": 660,
        "y": 280,
        "wires": []
    },
    {
        "id": "comment_3",
        "type": "comment",
        "z": "plantguard_flow",
        "name": "SETUP: Replace YOUR_REPLIT_APP_URL with your actual Replit app URL",
        "info": "Find your Replit app URL and replace all instances of YOUR_REPLIT_APP_URL in the HTTP request nodes.",
        "x": 750,
        "y": 320,
        "wires": []
    },
    {
        "id": "078fc926b3151cd7",
        "type": "ui_text",
        "z": "plantguard_flow",
        "group": "b0756117bb6fce53",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Battery Voltage",
        "format": "{{msg.payload.batteryVoltage}} V ({{msg.payload.batteryLevel}}%)",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 180,
        "y": 260,
        "wires": []
    },
    {
        "id": "7b2c1f1c626d4fa6",
        "type": "ui_chart",
        "z": "plantguard_flow",
        "name": "",
        "group": "b0756117bb6fce53",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Soil Moisture",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 290,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "154bd51d1fd67c83",
        "type": "function",
        "z": "plantguard_flow",
        "name": "function 1",
        "func": "msg.payload = msg.payload.soilMoisture;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 100,
        "y": 340,
        "wires": [
            [
                "7b2c1f1c626d4fa6"
            ]
        ]
    },
    {
        "id": "f887835b1f23144d",
        "type": "ui_chart",
        "z": "plantguard_flow",
        "name": "",
        "group": "b0756117bb6fce53",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Soil Temperature",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 310,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "988157d704b03c27",
        "type": "function",
        "z": "plantguard_flow",
        "name": "function 2",
        "func": "msg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 100,
        "y": 400,
        "wires": [
            [
                "f887835b1f23144d"
            ]
        ]
    },
    {
        "id": "46cb5b798d79cd12",
        "type": "ui_chart",
        "z": "plantguard_flow",
        "name": "",
        "group": "b0756117bb6fce53",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Soil pH",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "14",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 280,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "93edfbc206e02877",
        "type": "function",
        "z": "plantguard_flow",
        "name": "function 3",
        "func": "msg.payload = msg.payload.pH;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 100,
        "y": 460,
        "wires": [
            [
                "46cb5b798d79cd12"
            ]
        ]
    },
    {
        "id": "7407c12332028dc9",
        "type": "ui_chart",
        "z": "plantguard_flow",
        "name": "",
        "group": "b0756117bb6fce53",
        "order": 8,
        "width": 0,
        "height": 0,
        "label": "Soil Conductivity",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 310,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "a19f8e19d15a6e5f",
        "type": "function",
        "z": "plantguard_flow",
        "name": "function 4",
        "func": "msg.payload = msg.payload.electricalConductivity;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 100,
        "y": 520,
        "wires": [
            [
                "7407c12332028dc9"
            ]
        ]
    },
    {
        "id": "d28a02d4844c6fc9",
        "type": "ui_chart",
        "z": "plantguard_flow",
        "name": "",
        "group": "b0756117bb6fce53",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Soil Nitrogen",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 290,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "31cd0984b2cb3383",
        "type": "function",
        "z": "plantguard_flow",
        "name": "function 5",
        "func": "msg.payload = msg.payload.nitrogen;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 100,
        "y": 580,
        "wires": [
            [
                "d28a02d4844c6fc9"
            ]
        ]
    },
    {
        "id": "9a979550c4b1b947",
        "type": "ui_chart",
        "z": "plantguard_flow",
        "name": "",
        "group": "b0756117bb6fce53",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Soil Phosphorus",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 300,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "4c5c10e5f7ca1884",
        "type": "function",
        "z": "plantguard_flow",
        "name": "function 6",
        "func": "msg.payload = msg.payload.phosphorus;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 100,
        "y": 640,
        "wires": [
            [
                "9a979550c4b1b947"
            ]
        ]
    },
    {
        "id": "8cf451b0295caf22",
        "type": "ui_chart",
        "z": "plantguard_flow",
        "name": "",
        "group": "b0756117bb6fce53",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "Soil Potassium",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 300,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "48a1357cbc6b44cb",
        "type": "function",
        "z": "plantguard_flow",
        "name": "function 7",
        "func": "msg.payload = msg.payload.potassium;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 100,
        "y": 700,
        "wires": [
            [
                "8cf451b0295caf22"
            ]
        ]
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "Mosquitto Public",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b0756117bb6fce53",
        "type": "ui_group",
        "name": "Slave Node Data 1",
        "tab": "8df7f76dd3ae78bc",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8df7f76dd3ae78bc",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "159a3c61e5f3547f",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]